build/
/.vscode/c_cpp_properties.json
build/build.options.json
build/build.options.json
build/core/core.a
build/Inver_ota.ino.bin
build/Inver_ota.ino.elf
build/Inver_ota.ino.map
build/libraries/ESP8266mDNS/ESP8266mDNS.a
build/libraries/ESP8266WiFi/ESP8266WiFi.a
build/sketch/ambiente.cpp
build/sketch/ambiente.cpp.d
build/sketch/ambiente.cpp.o
build/sketch/cAPPConfig.cpp.o
build/sketch/configurations.h
build/sketch/CTiempos.cpp
build/sketch/CTiempos.cpp.o
build/sketch/CTiempos.h
build/sketch/deposito.cpp
build/sketch/deposito.cpp.o
build/sketch/estructuras.h
build/sketch/hardware.cpp.o
build/sketch/iluminacion.cpp
build/sketch/iluminacion.cpp.o
build/build.options.json
build/core/core.a
build/Inver_ota.ino.bin
build/Inver_ota.ino.elf
build/Inver_ota.ino.map
build/libraries/ESP8266mDNS/ESP8266mDNS.a
build/libraries/ESP8266WiFi/ESP8266WiFi.a
build/sketch/ambiente.cpp
build/sketch/ambiente.cpp.d
build/sketch/ambiente.cpp.o
build/sketch/cAPPConfig.cpp.o
build/sketch/configurations.h
build/sketch/CTiempos.cpp
build/sketch/CTiempos.cpp.o
build/sketch/CTiempos.h
build/sketch/deposito.cpp
build/sketch/deposito.cpp.o
build/sketch/estructuras.h
build/sketch/hardware.cpp.o
build/sketch/iluminacion.cpp
build/sketch/iluminacion.cpp.o
build/sketch/Iluminacion.h
build/sketch/Inver_ota.ino.cpp
build/sketch/Inver_ota.ino.cpp.d
build/sketch/Inver_ota.ino.cpp.o
build/sketch/invernadero.cpp
build/sketch/invernadero.cpp.d
build/sketch/invernadero.cpp.o
build/sketch/invernadero.h
build/sketch/Sensores.h
